@model List<Ingredient>

@{
    var status = TempData["status"];
}

<div class="text-center">
    <br />
    <br />
    <div id="statusInformation">
        <label>@status</label>
    </div>
    <br />
    <br />
    @foreach (var item in Model)
    {
        <div>
            <input type="hidden" name="Id" value="@item.Id" />
            <label id="@item.Name-label-name">@item.Name:</label>
            <label id="@item.Name-label-stock">@item.AmountInStock</label>
            <a id="@item.Name-anchor-increase" asp-controller="Home" asp-action="RestockIngredient" asp-route-id="@item.Id">Increase stock</a>
            <a id="@item.Name-anchor-reduce" asp-controller="Home" asp-action="ReduceIngredientInStorage" asp-route-id="@item.Id">Reduce stock</a>
        </div>
    }
    <br />
    <br />
    <a asp-controller="Home" asp-action="MassDelivery">Mass delivery!</a>
    <br />
    <br />
    <a asp-controller="Home" asp-action="OrderPizza">Order a margerita!</a>
</div>